@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400");
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #252830;
  font-family: "Oswald";
  font-weight: 200; }

* {
  box-sizing: border-box; }

.machine {
  height: 80vmin;
  width: 80vmin;
  max-height: 95vh;
  max-width: 95vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid #373b47; }
  .machine__pad {
    border: 1px solid #373b47;
    transition: all 0.2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #373b47; }
    .machine__pad > span {
      transition: all 0.2s; }
    .machine__pad:hover {
      transform: scale(1.05);
      border: none; }
      .machine__pad:hover > span {
        opacity: 0; }
    .machine__pad:active, .machine__pad.active {
      transform: scale(1.02);
      border: none; }
      .machine__pad:active > span, .machine__pad.active > span {
        opacity: 0; }

.machine__pad:nth-child(1):hover {
  background: #ef5350;
  box-shadow: 0px 0px 10px 1px #ef5350; }

.machine__pad:nth-child(1):active, .machine__pad:nth-child(1).active {
  background: #ed413d;
  box-shadow: 0px 0px 10px 1px #ed413d; }

.machine__pad:nth-child(2):hover {
  background: #EC407A;
  box-shadow: 0px 0px 10px 1px #EC407A; }

.machine__pad:nth-child(2):active, .machine__pad:nth-child(2).active {
  background: #ea2d6d;
  box-shadow: 0px 0px 10px 1px #ea2d6d; }

.machine__pad:nth-child(3):hover {
  background: #AB47BC;
  box-shadow: 0px 0px 10px 1px #AB47BC; }

.machine__pad:nth-child(3):active, .machine__pad:nth-child(3).active {
  background: #9f40af;
  box-shadow: 0px 0px 10px 1px #9f40af; }

.machine__pad:nth-child(4):hover {
  background: #7E57C2;
  box-shadow: 0px 0px 10px 1px #7E57C2; }

.machine__pad:nth-child(4):active, .machine__pad:nth-child(4).active {
  background: #7348bd;
  box-shadow: 0px 0px 10px 1px #7348bd; }

.machine__pad:nth-child(5):hover {
  background: #5C6BC0;
  box-shadow: 0px 0px 10px 1px #5C6BC0; }

.machine__pad:nth-child(5):active, .machine__pad:nth-child(5).active {
  background: #4d5eba;
  box-shadow: 0px 0px 10px 1px #4d5eba; }

.machine__pad:nth-child(6):hover {
  background: #42A5F5;
  box-shadow: 0px 0px 10px 1px #42A5F5; }

.machine__pad:nth-child(6):active, .machine__pad:nth-child(6).active {
  background: #2f9cf4;
  box-shadow: 0px 0px 10px 1px #2f9cf4; }

.machine__pad:nth-child(7):hover {
  background: #29B6F6;
  box-shadow: 0px 0px 10px 1px #29B6F6; }

.machine__pad:nth-child(7):active, .machine__pad:nth-child(7).active {
  background: #15aff5;
  box-shadow: 0px 0px 10px 1px #15aff5; }

.machine__pad:nth-child(8):hover {
  background: #26C6DA;
  box-shadow: 0px 0px 10px 1px #26C6DA; }

.machine__pad:nth-child(8):active, .machine__pad:nth-child(8).active {
  background: #22b7c9;
  box-shadow: 0px 0px 10px 1px #22b7c9; }

.machine__pad:nth-child(9):hover {
  background: #26A69A;
  box-shadow: 0px 0px 10px 1px #26A69A; }

.machine__pad:nth-child(9):active, .machine__pad:nth-child(9).active {
  background: #22958b;
  box-shadow: 0px 0px 10px 1px #22958b; }

.machine__pad:nth-child(10):hover {
  background: #66BB6A;
  box-shadow: 0px 0px 10px 1px #66BB6A; }

.machine__pad:nth-child(10):active, .machine__pad:nth-child(10).active {
  background: #58b55c;
  box-shadow: 0px 0px 10px 1px #58b55c; }

.machine__pad:nth-child(11):hover {
  background: #9CCC65;
  box-shadow: 0px 0px 10px 1px #9CCC65; }

.machine__pad:nth-child(11):active, .machine__pad:nth-child(11).active {
  background: #92c756;
  box-shadow: 0px 0px 10px 1px #92c756; }

.machine__pad:nth-child(12):hover {
  background: #D4E157;
  box-shadow: 0px 0px 10px 1px #D4E157; }

.machine__pad:nth-child(12):active, .machine__pad:nth-child(12).active {
  background: #d0de46;
  box-shadow: 0px 0px 10px 1px #d0de46; }

.machine__pad:nth-child(13):hover {
  background: #FFEE58;
  box-shadow: 0px 0px 10px 1px #FFEE58; }

.machine__pad:nth-child(13):active, .machine__pad:nth-child(13).active {
  background: #ffec44;
  box-shadow: 0px 0px 10px 1px #ffec44; }

.machine__pad:nth-child(14):hover {
  background: #FFCA28;
  box-shadow: 0px 0px 10px 1px #FFCA28; }

.machine__pad:nth-child(14):active, .machine__pad:nth-child(14).active {
  background: #ffc514;
  box-shadow: 0px 0px 10px 1px #ffc514; }

.machine__pad:nth-child(15):hover {
  background: #FFA726;
  box-shadow: 0px 0px 10px 1px #FFA726; }

.machine__pad:nth-child(15):active, .machine__pad:nth-child(15).active {
  background: #ff9f12;
  box-shadow: 0px 0px 10px 1px #ff9f12; }

.machine__pad:nth-child(16):hover {
  background: #FF7043;
  box-shadow: 0px 0px 10px 1px #FF7043; }

.machine__pad:nth-child(16):active, .machine__pad:nth-child(16).active {
  background: #ff602f;
  box-shadow: 0px 0px 10px 1px #ff602f; }

@media only screen and (max-width: 768px) {
  .machine {
    width: 95vw;
    height: 95vw; } }
